@model FacultyManagement.Models.ViewModels.FacultyViewModel
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Create", "Facultys", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <h3>Create Faculty</h3>
    <div>
        @Html.ValidationSummary(false, "", new { @class = "text-danger" })
    </div>
    <div>
        <form>
            <div class="form-row">
                <div class="form-group col-md-10">
                    <label for="inputEmail4">Faculty Name</label>
                    @Html.EditorFor(model => model.FacultyName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.FacultyName, "", new { htmlAttributes = new { @class = "text-danger" } })
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-10">
                    <label for="inputEmail4">Email</label>
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Email, "", new { htmlAttributes = new { @class = "text-danger" } })
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-10">
                    <label for="inputEmail4">Join Date</label>
                    @Html.EditorFor(model => model.JoinDate, new { htmlAttributes = new { @class = "form-control datetimepicker" } })
                    @Html.ValidationMessageFor(model => model.JoinDate, "", new { htmlAttributes = new { @class = "text-danger" } })
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-10">
                    <label for="inputEmail4">Image</label>
                    <br />
                    <img src="~/App_Images/Noimageavailable.png" height="70" width="70" class="change_Edit" required />
                    <input type="file" id="imageChange1" name="ImageFile" class="form-control imageChange" required />
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-10">
                    <label for="inputEmail4">Course</label>
                    @Html.DropDownListFor(model => model.CourseId, new SelectList(ViewBag.Courses, "CourseId", "CourseName"), "Select Course")
                    @Html.ValidationMessageFor(model => model.CourseId, "", new { htmlAttributes = new { @class = "text-danger" } })
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-10">
                    <input type="submit" value="Create" class="btn btn-primary" onclick="SaveFaculty" />
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-10">
                    @Html.ActionLink("Back to Faculty List", "Index")
                </div>
            </div>
        </form>
    </div>
}
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script>
    $(function () {
        $('.imageChange').change(function () {
            var input = this;
            if (input.files) {
                var rdr = new FileReader();
                rdr.onload = function (e) {
                    $('.change_Edit').attr('src', e.target.result);
                }
                rdr.readAsDataURL(input.files[0]);
            }
        })
    })
</script>

